.table {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #ebebeb;
    background-color: #c9c9c9;
}

@media screen and (max-width: 1023px) {
    .table {
        overflow: auto;
    }
}

.listHeading {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: #363636;
}

.separator {
    border-bottom: 3px solid #7442ce;
    width: 50px;
    margin: 0 0 20px 0;
}

.heading {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 15px 15px;
    background: #c9c9c9;
    border-radius: 12px 12px 0 0;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .heading {
        width: 768px;
        overflow: auto;
    }
}

.headingItemFirst {
    width: 200px;
}

.headingItemSecond {
    width: 50px;
}

.headingItemThird {
    width: 100px;
}

.headingItemFourth {
    width: 30px;
}

.headingItemFifth {
    width: 50px;
}

.headingItemSixth {
    width: 200px;
}