.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}

.image {
    width: 32px;
    height: 32px;
}

.text {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #363636;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    text-align: center;
}

.teamName {
    margin: 0;
    font-weight: 700;
    color: black;
    font-size: 10px;
    text-align: center;
}