.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}

.image {
    width: 32px;
    height: 32px;
}

.text {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--font-secondary);
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    text-align: center;
}

.teamNameDire {
    margin: 0;
    font-weight: 700;
    color: black;
    font-size: 10px;
    text-align: center;
    background: #bd0000;
    border-radius: 3px;
}

.teamNameRad {
    margin: 0;
    font-weight: 700;
    color: black;
    font-size: 10px;
    text-align: center;
    background: #005200;
    border-radius: 3px;
}