.graph {
    width: 100%;
    height: 235px;
    display: flex;
    position: relative;
}

.graphBot {
    width: 100%;
    height: 235px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
}

.columnText {
    position: absolute;
    top: 30px;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #363636;
}

.columnTextBot {
    position: absolute;
    bottom: 30px;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #363636;
}

.line {
    width: 100%;
    color: #ebebeb;
    margin: 0;
}