.graphWrapper {
    width: 100%;
    overflow-x: scroll;
    height: 500px;
}

.graph {
    width: 850px;
    height: 235px;
    display: flex;
    position: relative;
}

.graphBot {
    width: 850px;
    height: 235px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
}

.columnText {
    position: absolute;
    top: 30px;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: var(--font-secondary);
}

.columnTextBot {
    position: absolute;
    bottom: 30px;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: var(--font-secondary);
}

.line {
    width: 100%;
    color: #ebebeb;
    margin: 0;
}