.graph {
    width: 100%;
    height: 235px;
    display: flex;
}

.graphBot {
    width: 100%;
    height: 235px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.line {
    width: 100%;
    color: #ebebeb;
    margin: 0;
}