.match {
    display: flex;
    flex: 5;
    box-sizing: border-box;
    width: 250px;
    min-width: 250px;
    height: 90px;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    text-decoration: none;
    transition: .2s ease;
}

.teams {
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 15px;
}

.league {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.leagueText {
    margin: 0;
}

.dateText {
    margin: 0 0 8px 0;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 2px 5px;
    max-width: 45px;
    align-self: center;
    text-decoration: none;
}

.logo {
    width: 30px;
    height: 30px;
}

.team {
    display: flex;
    align-items: center;
    gap: 20px;
}

.teamName {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    color: #363636;
    text-transform: uppercase;
    font-weight: 700;
    width: 80px;
    margin: 0;
    text-decoration: none;
}

.score {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    color: #363636;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}

.league {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    color: #363636;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}