.label {
    min-width: 90px;
    width: fit-content;
    height: 20px;
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.articleDate {
    font-size: 11px;
    color: #777;
    margin-right: 5px;
}

.articleSep {
    height: 9px;
    margin: 0 5px;
    border-right: 1px solid gray;
    justify-self: center;
}

.articleAuthor {
    font-size: 11px;
    color: #777;
    margin-right: 5px;
}

.article {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    cursor: pointer;
}

.articleImage {
    width: 570px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../../assets/images/16.jpg");
}

.title {
    font-size: 30px;
    line-height: 1.1333333333em;
    font-family: 'Exo', sans-serif;
    color: #363636;
    text-transform: uppercase;
    margin: 8px 0;
}

.wrapper {
    display: flex;
    align-items: center;
}

.avatar {
    width: 26px;
    height: 26px;
    background-image: url("../../assets/images/16.jpg");
    border-radius: 200px;
    margin-right: 8px;
}

.textPreview {
    margin: 8px 0;
    color: #777;
    font-size: 13px;
}

.spanPurple {
    color: #7442ce;
}

.spanBlue {
    color: var(--primary);
}

.spanYellow {
    color: #ffb400;
}

.spanRed {
    color: #f30a5c;
}

.labelPurple {
    background-color: #7442ce;
}

.labelYellow {
    background-color: #ffb400;
}

.labelBlue {
    background-color: var(--primary);
}

.labelRed {
    background-color: #f30a5c;
}