.slider {
    width: 1250px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 15px;
    padding-top: 25px;
    transition: .3s ease-in-out;
}

.showMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border: 1px solid var(--primary);
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    transition: .3s ease;
    cursor: pointer;
}

.showMore:hover {
    background: var(--primary);
}

.linkText {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: var(--font-secondary);
}

.sliderTrack {
    width: 1100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: .2s ease;
}

.sliderItem {
    width: 250px;
    height: 90px;
    transition: .2s ease;
}

.dropLeft {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    transform: rotate(90deg);
    cursor: pointer;
    color: black;
}

.dropRight {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    transform: rotate(270deg);
    cursor: pointer;
}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .slider {
        width: 845px;
    }

    .sliderTrack {
        width: 745px;
    }
}

@media screen and (max-width: 1023px) {
    .slider {
        width: 645px;
    }

    .sliderTrack {
        width: 505px;
    }
}

@media screen and (min-width: 1500px) {

    .sliderTrack {
        width: 1500px;
    }
}

@media screen and (min-width: 1921px) {
    .sliderContainer {
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .sliderContainer {
        flex-direction: column;
        padding-top: 15px;
    }

    .slider {
        width: 330px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 374px) {
    .sliderContainer {
        flex-direction: column;
        padding-top: 15px;
    }

    .slider {
        width: 310px;
        margin: 0 auto;
        gap: 10px;
    }
}
