@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.screen {
    width: 100%;
    background-color: var(--main);
    position: relative;
    overflow: hidden;
}

.whiteHeading {
    width: 100%;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.back {
    width: 100%;
    height: 720px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 175px;
    position: relative;
    transition: all 1s ease-in-out;
    background-color: var(--main);
}

.heading {
    width: 620px;
    text-shadow: 0 0 20px #020102;
    font-size: 50px;
    line-height: 1.04em;
    color: white;
    font-family: 'Exo', sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.subheading {
    font-size: 14px;
    line-height: 1.7142857143em;
    text-shadow: 0 0 10px #020102;
    color: white;
    width: 460px;
}

.label {
    width: 89px;
    height: 20px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelText {
    font-family: "Roboto",sans-serif;
    font-size: 8px;
    margin: 0;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.button {
    width: 270px;
    height: 55px;
    background-color: var(--primary);
    border: none;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .back {
        align-items: center;
        padding-left: 0;
    }

    .heading {
        max-width: 350px;
    }

    .subheading {
        max-width: 350px;
    }
}

@media screen and (max-width: 374px) {
    .back {
        align-items: center;
        padding-left: 0;
    }

    .heading {
        font-size: 30px;
        max-width: 310px;
    }

    .subheading {
        max-width: 310px;
    }

    .label {
        margin-top: 15px;
    }
}


.dropWrapper {
    width: 43px;
    height: 43px;
    background-color: #0270c5;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.drop {
    transform: rotate(270deg);
    width: 35px;
    height: 25px;
    transition: all .5s ease-in-out;
}

.buttonText {
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 10px #020102;
    font-weight: 800;
    margin-left: 15px;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

.button:hover .drop {
    transform: rotate(90deg);
}

.title {
    display: inline-block;
    max-width: 620px;
}

.active {
    display: flex;
    animation: fadeInFromNone .6s ease-in-out;
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 4;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -35px;
    right: -35px;
    cursor: pointer;
    transition: .3s ease;
}

.close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .close {
        right: 0;
    }
}

.popupButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: #FF6838;
    height: 36px;
    min-width: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.banner {
    width: 300px;
    height: 300px;
}

.slider {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 3%;
}

.slide {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 200px;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
}

.slide:hover {
    opacity: .6;
}

.slideActive {
    background-color: white;
}