.articleAuthor {
    font-size: 11px;
    color: #777;
    margin-right: 5px;
}

.articleDate {
    font-size: 11px;
    color: #777;
    margin-right: 5px;
}

.articleSep {
    height: 9px;
    margin: 0 5px;
    border-right: 1px solid gray;
    justify-self: center;
}

.spanPurple {
    color: #7442ce;
}

.spanBlue {
    color: var(--primary);
}

.spanYellow {
    color: #ffb400;
}

.spanRed {
    color: #f30a5c;
}

.labelPurple {
    background-color: #7442ce;
}

.labelYellow {
    background-color: #ffb400;
}

.labelBlue {
    background-color: var(--primary);
}

.labelRed {
    background-color: #f30a5c;
}


.post {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
    text-decoration: none;
}

.authorDate {
    display: flex;
    align-items: center;
}

.postImg {
    width: 255px;
    height: 170px;
    background-image: url("../../assets/images/dotaLogo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.label {
    min-width: 90px;
    width: fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.title {
    text-transform: uppercase;
    color: var(--main);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    margin: 7px 0 0 0;
}

.textPreview {
    font-size: 14px;
    color: #777;
    margin: 0;
}