.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.firstWrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrapSecond {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dotaIcon {
    width: 30px;
    height: 30px;
}

.league {
    width: 100px;
    text-align: center;
}