.content {
    width: 850px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 849px) {
    .content {
        margin: 0 20px;
        width: calc(100% - 40px);
    }
}

.heroBanner {
    width: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.9);
    padding: 56px;
    box-shadow: rgb(0 0 0 / 25%) 0 0 125px inset;
    margin-bottom: 35px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.bannerLeft {
    gap: 10px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 595px) {
    .heroBanner {
        padding: 35px;
    }

    .bannerLeft {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .heroBanner {
        padding: 20px;
    }
}

.image {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgb(0 0 0 / 30%) 0px 12px 32px;
    display: block;
    flex-shrink: 0;
    height: 128px;
    object-fit: cover;
    width: 180px;
}

.heroName {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: var(--main);
    margin: 0;
}

.heroRoles {
    color: var(--font-secondary);
    margin: 0;
}

@media screen and (max-width: 350px) {
    .heroRoles {
        width: 150px;
        display: flex;
        flex-wrap: wrap;
    }
}

.span {
    color: var(--font-low);
    opacity: .8;
    margin-right: 5px;
}

.span:last-of-type {
    margin-right: 0;
}

.heroBackground {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.showMoreButton {
    width: 200px;
    height: 50px;
    color: var(--main);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 10px;
}

.itemsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.listHeading {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: var(--font-secondary);
}

.separator {
    border-bottom: 3px solid #7442ce;
    width: 80px;
    margin: 0 0 20px 0;
}

.sectionHeading {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.buttonsContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.guideButton {
    border: 1px solid red;
    padding: 20px;
    color: var(--main);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

.guideButton:hover {
    opacity: .6;
}

.articleMainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 870px;
    align-self: center;
    color: var(--font-secondary);
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .articleMainText {
        max-width: 350px;
    }
}

@media screen and (max-width: 374px) {
    .articleMainText {
        max-width: 310px;
    }
}

.mdn {
    width: 100%;
    background: linear-gradient(90deg, rgba(20, 255, 212, 0.09) 2%, rgba(46, 160, 214, 0.26) 27%, rgba(5, 181, 249, 0.04) 80%);
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    color: var(--main);
}

.mdn img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    display: flex;
    align-self: center;
    margin: 0 auto;
}

@media screen and (max-width: 849px) {
    .itemsContainer {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}