.screen {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/pixel-banner.jpg) no-repeat center,linear-gradient(45deg, #f30a5c, #1c95f3);
    background-size: cover;
}

.title {
    font-size: 40px;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .title {
        width: 300px;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .title {
        width: 350px;
        text-align: center;
    }
}

.listHeading {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: var(--font-secondary);
}

.listHeadingTeams {
    padding-top: 35px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: var(--font-secondary);
}

.separator {
    border-bottom: 3px solid #7442ce;
    width: 80px;
    margin: 0 0 20px 0;
}

.content {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tournamentInfo {
    padding-top: 40px;
}

.tournament {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tournamentImage {
    width: 200px;
    height: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: var(--font-secondary);
    font-weight: 700;
}

.span {
    color: var(--font-low);
}

.results {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.textBlock {
    color: var(--font-secondary);
    padding-top: 40px;
}

.table {
    width: 850px;
    display: flex;
    flex-direction: column;
}

.tableHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableRow {
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    min-height: 70px;
    padding: 0 10px;
    cursor: pointer;
}

.tableRow:hover {
    background: #d2d2d2;
}

.tableRow:last-of-type {
    border-bottom: 1px solid gray;
}

.column {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.playoffs {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.tournamentTable {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    gap: 30px;
}

@media screen and (max-width: 1023px) {
    .content {
        width: 600px;
    }

    .table {
        width: 600px;
    }

    .tableRow {
        justify-content: space-between;
    }

    .column {
        width: 50px;
    }
}

.columnAnother {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.emptiness {
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 260px;
    margin-bottom: 20px;
    position: relative;
}

.banner {
    width: 920px;
    height: 100px;
    background-image: url("../assets/images/920x100-4.png");
    margin-bottom: 20px;
}

.scheduleItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.scheduleItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.itemTime {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: var(--font-secondary);
    font-weight: 700;
    margin: 0;
}

.itemTeam {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: var(--font-secondary);
    font-weight: 700;
    margin: 0;
    width: 100px;
}

.itemScore {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: var(--font-secondary);
    font-weight: 700;
    margin: 0;
}

.itemStage {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: var(--font-secondary);
    font-weight: 700;
    margin: 0;
    width: 140px;
    text-align: right;
}

@media screen and (max-width: 424px) {
    .itemStage {
        display: none;
    }
}

.replay {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.iframe {
    border: 0;
    width: 100%;
    height: 570px;
    margin-bottom: 35px;
}

.scheduleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 250px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.teamsTable {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    width: 370px;
    height: 300px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 0;
    gap: 15px;
}

.tableHeadingTeams {
    display: flex;
    align-items: center;
}

.tableHeadingImage {
    width: 40px;
    height: 40px;
}

.tableHeadingText {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: var(--font-secondary);
    margin: 0 0 0 7px;
}

.teamMember {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0;
    margin: 0;
}

.memberText {
    font-size: 16px;
    margin: 0;
    color: var(--font-secondary);
}

.memberSpan {
    font-weight: 700;
}

.qualifier {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
}

.qualifierText {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: var(--font-secondary);
    margin: 10px 0 0 0;
}

.loadButton {
    width: 100%;
    margin-top: 10px;
    height: 35px;
    background: transparent;
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: opacity .3s;
    color: var(--font-secondary);
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.loadButton:hover {
    opacity: .6;
}

.wrapperFirst {
    display: flex;
    align-items: stretch;
    width: 1000px;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.columnFinal {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
}

.columnText {
    font-size: 12px;
    font-family: 'Exo', sans-serif;
    color: var(--font-low);
    font-weight: 700;
    text-transform: uppercase;
}

.dropWrapper {
    width: 43px;
    height: 43px;
    background-color: #0270c5;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.button {
    width: 270px;
    height: 55px;
    background-color: var(--primary);
    border: none;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 10px;
}

.drop {
    transform: rotate(270deg);
    width: 35px;
    height: 25px;
    transition: all .5s ease-in-out;
}

.buttonText {
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 10px #020102;
    font-weight: 800;
    margin-left: 15px;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

.teamImage {
    width: 32px;
    height: 32px;
}

.button:hover .drop {
    transform: rotate(90deg);
}


@media screen and (max-width: 1023px) {
    .banner {
        background-image: url("../assets/images/300x350---6.gif");
        height: 350px;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        width: 400px;
    }

    .tournament {
        flex-direction: column;
    }

    .table {
        width: 400px;
    }
}

@media screen and (max-width: 424px) {
    .content {
        width: 300px;
    }

    .tournament {
        flex-direction: column;
    }

    .table {
        width: 300px;
    }
}

@media screen and (max-width: 1279px) {
    .wrapperFirst {
        width: 900px;
    }
}

@media screen and (max-width: 1023px) {
    .wrapperFirst {
        width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .wrapperFirst {
        width: 400px;
    }
}

@media screen and (max-width: 423px) {
    .wrapperFirst {
        width: 300px;
    }
}