.screen {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/pixel-banner.jpg) no-repeat center,linear-gradient(45deg, #f30a5c, #1c95f3);
    background-size: cover;
}

.title {
    font-size: 40px;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .title {
        width: 300px;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .title {
        width: 350px;
        text-align: center;
    }
}

.listHeading {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: #363636;
}

.separator {
    border-bottom: 3px solid #7442ce;
    width: 80px;
    margin: 0 0 20px 0;
}

.content {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tournamentInfo {
    padding-top: 40px;
}

.tournament {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tournamentImage {
    width: 200px;
    height: 100px;
}

.text {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: #363636;
    font-weight: 700;
}

.span {
    color: gray;
}

.results {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.textBlock {
    padding-top: 40px;
}

.table {
    width: 850px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;

}

.tableHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableRow {
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.tableRow:hover {
    background: #d2d2d2;
}

.tableRow:last-of-type {
    border-bottom: 1px solid gray;
}

.column {
    width: 40px;
    display: flex;
    align-items: center;
}

.playoffs {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.tournamentTable {
    display: flex;
    align-items: center;
    width: 1200px;
    margin-bottom: 45px;
    gap: 30px;
}

@media screen and (max-width: 1279px) {
    .tournamentTable {
        width: 900px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        width: 600px;
    }

    .table {
        width: 600px;
    }

    .tableRow {
        justify-content: space-between;
    }

    .column {
        width: 50px;
    }

    .tournamentTable {
        width: 600px;
        overflow-y: scroll;
    }
}

.columnAnother {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 520px;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 920px;
    height: 100px;
    background-image: url("../assets/images/photo_2022-09-14_14-59-46.jpg");
    margin-bottom: 20px;
}

.scheduleItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.scheduleItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.itemTime {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    margin: 0;
}

.itemTeam {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    margin: 0;
}

.itemScore {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    margin: 0;
}

.itemStage {
    font-size: 11px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    margin: 0;
    width: 140px;
    text-align: right;
}

.replay {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.iframe {
    border: 0;
    width: 100%;
    height: 570px;
    margin-bottom: 35px;
}

.scheduleWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}


@media screen and (max-width: 1023px) {
    .banner {
        background-image: url("../assets/images/300x350---6.gif");
        height: 350px;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        width: 400px;
    }

    .tournament {
        flex-direction: column;
    }

    .table {
        width: 400px;
    }

    .tournamentTable {
        width: 400px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 424px) {
    .content {
        width: 300px;
    }

    .tournament {
        flex-direction: column;
    }

    .table {
        width: 300px;
    }

    .tournamentTable {
        width: 300px;
        overflow-y: scroll;
    }
}