.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.logoText {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.logoSpan {
    font-family: 'Exo', sans-serif;
    color: var(--primary);
}

.logoSub {
    margin: 0;
    color: #777;
    font-size: 11px;
}

.footer {
    width: 100%;
    background-color: var(--main);
}

.footerContainer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
}

@media screen and (max-width: 1279px) {
    .footerContainer {
        width: 1024px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1023px) {
    .footerContainer {
        width: 768px;
        overflow: hidden;
    }
}

.upWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid gray;
}

.slider {
    width: 550px;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 1023px) {
    .slider {
        width: 450px;
    }
}

.sliderTrack {
    width: 330px;
    display: flex;
    gap: 15px;
    align-items: center;
    overflow: hidden;
}

.sliderItem {
    width: 100px;
    height: 100px;
    transition: .3s ease-in-out;

}

.dropLeft {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    transform: rotate(90deg);
    cursor: pointer;
}

.dropRight {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    transform: rotate(270deg);
    cursor: pointer;
}

.socials {
    display: flex;
    width: 300px;
    align-items: center;
}

.socialYou {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #eb1940;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialFb {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4153b3;
    border-radius: 200px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialTwitch {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #7442ce;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialTwitter {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #10caff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialImg {
    width: 15px;
    height: 15px;
    margin: 0;
}

.socialFb:hover {
    transform: translateY(-5px);
}

.socialYou:hover {
    transform: translateY(-5px);
}

.socialTwitch:hover {
    transform: translateY(-5px);
}

.socialTwitter:hover {
    transform: translateY(-5px);
}

.downWrap {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 1279px) {
    .downWrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) {
    .upWrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.mainPages {
    list-style-type: none;
    margin: 0;
    padding: 50px 0 0 0;
}

.postText {
    color: white;
}

.listHeading {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
    color: white;
}

.separator {
    border-bottom: 3px solid #7442ce;
    width: 50px;
    margin: 0 0 20px 0;
}

.listItem {
    font-size: 14px;
    line-height: 32px;
    font-family: 'Exo',sans-serif;
    color: white;
    height: fit-content;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .3s ease;
}

.listItem:hover {
    transform: translateX(10px);
}

.listWrap {
    display: flex;
    align-items: flex-end;
}

.footerDownDown {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.separatorDown {
    border-bottom: 3px solid #58d819;
    width: 50px;
    margin: 0 0 20px 0;
}

.footerText {
    width: 272px;
    font-size: 12px;
    color: #b8b8b8;
    line-height: 1.8333333333em;
    margin: 5px 0;
}

.subscribeWrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.greenRound {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background-color: #58d819;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageIcon {
    width: 25px;
    height: 25px;
}

.subscribeText {
    width: 128px;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 1.3333333333em;
    text-transform: uppercase;
    margin-left: 9px;
}

.inputWrap {
    display: flex;
    width: 270px;
    background-color: white;
    height: 40px;
    border-radius: 200px;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    background-color: transparent;
    padding: 0 10px;
    outline: none;
    margin-right: 15px;
}

.greenInput {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #58d819;
    border-radius: 200px;
    margin-right: 3px;
}

.emailWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.emailText {
    font-size: 10px;
    font-family: 'Exo', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 9px;
}

.mailIcon {
    width: 25px;
    height: 25px;
}