.content {
    display: flex;
    flex: 6;
    width: 1170px;
    margin: 60px auto;
}

@media screen and (max-width: 1279px) {
    .content {
        width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        width: 350px;
        margin: 0 auto;
    }
}

.sidebar {
    flex: 1;
    margin-left: 30px;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .sidebar {
        display: none;
    }
}

.main {
    flex: 5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 510px;
    max-width: 870px;
}

.area {
    background-color: orange;
    grid-row: 1 / 4;
    width: 570px;
}

@media screen and (max-width: 1279px) {
    .grid {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .grid {
        max-width: 768px;
    }

    .area {
        width: 468px;
    }

    .main {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.area2 {
    background-color: #bada55;
}

.area3 {
    background-color: yellow;
}

.area4 {
    background-color: green;
}

.input {
    border: none;
    outline: none;
    margin-left: 9px;
    height: 20px;
}

@media screen and (max-width: 767px) {
    .grid {
        max-width: 350px;
        height: fit-content;
        padding-top: 30px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .area {
        width: 350px;
    }
}

.inputWrap {
    width: 270px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 1px solid gray;
    align-items: center;
}

.blueRound {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.search {
    width: 18px;
    height: 18px;
}

.separatorDown {
    border-bottom: 3px solid var(--primary);
    width: 70px;
    margin: 0 0 20px 0;
}

.Heading {
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    margin: 35px 0 8px 0;
}

.socialWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #4153b3;
    border-radius: 200px;
    cursor: pointer;
    transition: .3s ease;
}

.social2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #10caff;
    border-radius: 200px;
    cursor: pointer;
    transition: .3s ease;
}

.social3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #f9288a;
    border-radius: 200px;
    cursor: pointer;
    transition: .3s ease;
}

.social4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #7442ce;
    border-radius: 200px;
    cursor: pointer;
    transition: .3s ease;
}

.social1:hover {
    transform: translateY(-10px);
}

.social2:hover {
    transform: translateY(-10px);
}

.social3:hover {
    transform: translateY(-10px);
}

.social4:hover {
    transform: translateY(-10px);
}

.socialIcon {
    width: 15px;
    height: 15px;
}

.counter {
    font-size: 10px;
    font-family: 'Exo', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 3px 0 0 0;
}

.articles {
    display: flex;
    flex: 6;
    gap: 30px;
    padding-top: 30px;
}

.bigArticles {
    flex: 4;
}

.littleArticles {
    flex: 2;
}

@media screen and (max-width: 1023px) {
    .articles {
        justify-content: center;
        align-items: center;
        flex: none;
    }

    .bigArticles {
        flex: none;
        margin: 0 auto;
    }

    .littleArticles {
        display: none;
    }
}

.separatorPurple {
    border-bottom: 3px solid #f9288a;
    width: 70px;
    margin: 0 0 20px 0;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textPreviews {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .textPreviews {
        flex-direction: column;
        align-items: center;
    }
}

.separatorYellow {
    border-bottom: 3px solid #ffb400;
    width: 70px;
    margin: 0 0 20px 0;
}

.newsReviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.gameReviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.geekyReviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.dropLeft {
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    cursor: pointer;
    margin: auto;
}

.dropRight {
    width: 15px;
    height: 15px;
    transform: rotate(270deg);
    cursor: pointer;
    margin: auto;
}

.latestVideos {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .latestVideos {
        align-items: center;
    }
}

.videosHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separatorVid {
    border-bottom: 3px solid #00e3d0;
    width: 70px;
    margin: 0 0 20px 0;
}

.button {
    background-color: #00e3d0;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border: none;
}

.videoContainer {
    display: flex;
    align-items: center;
    width: 840px;
    height: 335px;
    overflow: hidden;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .videoContainer {
        width: 550px;
    }

    .videosHeading {
        width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .videosHeading {
        width: 350px;
    }

    .videoContainer {
        width: 270px;
    }
}

.tags {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.faq {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 1023px) {
    .faq {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .faq {
        max-width: 350px;
    }
}

.quest {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    transition: .3s ease-in-out;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/add_FILL0_wght400_GRAD0_opsz48.svg");
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    border-radius: 200px;
    background-color: #1c95f3;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/remove_FILL0_wght400_GRAD0_opsz48.svg");
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    border-radius: 200px;
    background-color: #f30a5c;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.question {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.answer {
    font-size: 11px;
    color: #777777;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}